[Desktop Entry]
Version=1.0
Type=Application
Name=Documents
Comment=Documents folder
Exec=nemo ./Documents
Icon=folder-documents
Path=
Terminal=false
StartupNotify=false
